.font-color {
    color: salmon;
}

body {
    background-image: url("book.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover*/
   }